name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # Runs every day at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake Animations
        uses: Platane/snk@v3
        with:
          github_user_name: PhEnOMeoN-47
          outputs: |
            dist/snake.svg
            dist/snake_dark.svg?palette=github-dark
            dist/snake.gif
            dist/snake.png

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
