name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: PhEnOMeoN-47
          outputs: |
            dist/snake.svg
            dist/snake_dark.svg?palette=github-dark
            dist/snake.gif
            dist/snake.png

      - name: Upload artifact to Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: dist

  deploy:
    needs: generate
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
